[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1.1"
click = "*"
flask_sqlalchemy = "*"
redis = "*"
pymysql = "*"
gevent = "*"
pipfile = "*"
acme = "*"

[dev-packages]

[requires]
python_version = "3.7"
